@font-face {
    font-family: custom1;
    src: url(veneer-two.ttf);
}

.backgroundContact{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    background: -webkit-linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    background: linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b3f1fb",GradientType=1);
    height: auto;
    background-repeat: no-repeat;
}

.bannerContact{
    width: 100%;
    font-family: custom1;
    font-size: 5vw;
    text-align: center;
    color: white;
    background: rgb(116,255,233);
    background: -moz-linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
    background: -webkit-linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
    background: linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74ffe9",endColorstr="#44e5ff",GradientType=1);
}

.contactContainer{
    display: flex;
    flex-direction: row;
    align-items: normal;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    height: auto;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 2em;
}

.contactContainer p{
    font-family: custom1;
    font-size: 4vw;
}