@font-face {
  font-family: custom1;
  src: url(veneer-two.ttf);
}

.Homebackground {
  background: linear-gradient(
    45deg,
    rgb(84, 233, 211) 0%,
    rgb(37, 147, 164) 100%
  );
  width: 100%;
  height: fit-content;
}

.containerFlexBoxButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}


.Banner {
  background: rgba(44, 177, 196, 1) 100%;
  height: 4em;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.BannerText {
  color: white;
  padding: 1em;
  font-size: 5vw;
  font-family: custom1;
}

.helpButton {
  color: white;
  padding: 1em;
  font-size: 5vw;
  font-family: custom1;
  background: none;
  outline: none;
  border: none;
}

ul li {
  display: inline-block;
  padding: 3em;
  list-style: none;
}


.houseButton {
    background-image: url("./img/house.jpeg");
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  border-radius: 20px;
  mask-image:  linear-gradient(rgba(0, 0, 0, 1) 70%, transparent);
  margin: 1em;
  font-family: custom1;
}

.supButton {
  background: url(./img/supermercato-min.jpg);
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  border-radius: 20px;
  mask-image:  linear-gradient(rgba(0, 0, 0, 1) 70%, transparent);
  margin: 1em;
  font-family: custom1;
}

.lidoButton {
  background: url(./img/spiaggia-lido.jpeg);
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  border-radius: 20px;
  mask-image:  linear-gradient(rgba(0, 0, 0, 1) 70%, transparent);
  margin: 1em;
  font-family: custom1;
}

.attrButton {
  background: url(./img/siracusa-teatro-greco.jpg);
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  border-radius: 20px;
  mask-image:  linear-gradient(rgba(0, 0, 0, 1) 70%, transparent);
  margin: 1em;
  font-family: custom1;
}

.restButton {
  background: url(./img/restaurant.webp);
  width: 400px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  border-radius: 20px;
  mask-image:  linear-gradient(rgba(0, 0, 0, 1) 70%, transparent);
  margin: 1em;
  font-family: custom1;
}
