@font-face {
    font-family: custom1;
    src: url(veneer-two.ttf);
}

.backgroundRest{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    background: -webkit-linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    background: linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b3f1fb",GradientType=1);
    height: auto;
    background-repeat: no-repeat;
}

.bannerRest{
    width: 100%;
    font-family: custom1;
    font-size: 5vw;
    text-align: center;
    color: white;
    background-color: rgb(0, 158, 100);
}

.restContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.BarDiv{
    background-image: url(./img/MazzarellaCafe_after.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 50vh;
}

.mementoDiv{
    background-image: url(./img/Memento_after.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 50vh;
}

.ondaBluDiv{
    background-image: url(./img/ondaBluRestaurant_after.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 50vh;
}