@font-face {
    font-family: custom1;
    src: url(veneer-two.ttf);
}

.backgroundRest{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    background: -webkit-linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    background: linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b3f1fb",GradientType=1);
    height: auto;
    background-repeat: no-repeat;
}

.bannerRest{
    width: 100%;
    font-family: custom1;
    font-size: 5vw;
    text-align: center;
    color: white;
    background-color: rgb(0, 158, 100);
}

.restContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.restContainer p{
    font-family: custom1;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 2.5vw;
    color: white;

}

.BarDiv{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 50vh;
    margin: 1em;
}
.BarDiv img{
    object-fit: scale-down;
    margin: 1em;
}

.mementoDiv{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 50vh;
    margin: 1em;
}
.mementoDiv img{
    object-fit: scale-down;
    margin: 1em;
}

.ondaBluDiv{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 50vh;
    margin: 1em;
}
.ondaBluDiv img{
    object-fit: scale-down;
    margin: 1em;
}