@font-face {
  font-family: custom1;
  src: url(veneer-two.ttf);
}

.backgroundSuper {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    394deg,
    rgba(255, 255, 255, 1) 26%,
    rgba(179, 241, 251, 1) 100%
  );
  background: -webkit-linear-gradient(
    394deg,
    rgba(255, 255, 255, 1) 26%,
    rgba(179, 241, 251, 1) 100%
  );
  background: linear-gradient(
    394deg,
    rgba(255, 255, 255, 1) 26%,
    rgba(179, 241, 251, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b3f1fb",GradientType=1);
  height: auto;
  background-repeat: no-repeat;
}

.bannerSuper {
    width: 100%;
    font-family: custom1;
    font-size: 5vw;
    text-align: center;
    color: white;
    background: rgb(116,255,233);
  background: -moz-linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
  background: -webkit-linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
  background: linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74ffe9",endColorstr="#44e5ff",GradientType=1);
}

.superContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 100%;
    margin: 1em;
}

.linkExplain {
    width: 100%;
    font-family: custom1;
    font-size: 5vw;
    text-align: justify;
    text-justify: distribute;
    color: rgb(48, 186, 245);
}

.superLinks{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 1em;
    column-gap: 3vw;
    font-family: custom1;
    font-size: 3vw;
}

.superInfo{
    background-color: transparent;
    border: 1px solid rgb(84, 192, 250);
    width: 30vw;
    border-radius: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(0, 64, 255);
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.toTopDiv{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items:center;
  text-align: end;
  background-color: transparent;
}

.backToTopBTN{
  background-color: transparent;
  outline: none;
  border: none;
}