@font-face {
    font-family: custom1;
    src: url(veneer-two.ttf);
}

.backgroundRest{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    background: -webkit-linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    background: linear-gradient(394deg, rgba(255,255,255,1) 26%, rgba(179,241,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b3f1fb",GradientType=1);
    height: auto;
    background-repeat: no-repeat;
}

.bannerRest{
    width: 100%;
    font-family: custom1;
    font-size: 5vw;
    text-align: center;
    color: white;
    background: rgb(116,255,233);
  background: -moz-linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
  background: -webkit-linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
  background: linear-gradient(77deg, rgba(116,255,233,1) 21%, rgba(68,229,255,1) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74ffe9",endColorstr="#44e5ff",GradientType=1);
}

.upTextRest{
    font-size: 6vw;
    font-family: custom1;
    color: rgb(125, 222, 249);
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    margin: 1em
}

.restContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 50px;
}

.restContainer p{
    font-family: custom1;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    font-size: 4vw;
    color: rgb(125, 222, 249);
}
.restContainer p:nth-child(odd){
    color: rgb(69, 131, 255);
}

.BarDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 50vh;
    margin: 1em;
    column-gap: 1em;
}
.BarDiv img{
    object-fit:scale-down;
    border-radius: 20px;
    margin: 1em;
    clip-path: circle(72.7% at 27% 43%);
    width: 90%;
}
.BarDiv p:nth-child(1){
    font-size: 5vw;
    justify-content: right;
    align-items: flex-start;
    text-align: start;
}
.barInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.mementoDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 50vh;
    margin: 1em;
    column-gap: 1em;
}
.mementoDiv img{
    object-fit: scale-down;
    border-radius: 20px;
    margin: 1em;
    width: 70%;
    height: 40vh;
    clip-path: circle(72.7% at 7% 50%);

}
.mementoDiv p:nth-child(1){
    font-size: 5vw;
    justify-content: left;
    text-align: start;
}
.mementoInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ondaBluDiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95vw;
    height: 40vh;
    margin: 1em;
    column-gap: 1em;
}
.ondaBluDiv img{
    object-fit: scale-down;
    border-radius: 20px;
    margin: 1em;
    width: 70%;
    clip-path: circle(72.7% at 27% 43%);
}
.ondaBluDiv p:nth-child(1){
    font-size: 5vw;
    justify-content: right;
    text-align: start;
}
.ondaBluInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tavPieDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 50vh;
    margin: 1em;
    column-gap: 1em;
}
.tavPieDiv img{
    object-fit: scale-down;
    border-radius: 20px;
    margin: 1em;
    width: 90%;
    clip-path: circle(72.7% at 17% 43%);
}
.tavPieDiv p:nth-child(1){
    font-size: 5vw;
    justify-content: right;
    text-align: start;
}
.tavPieInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.regLuDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 50vh;
    margin: 1em;
    column-gap: 1em;
}
.regLuDiv img{
    object-fit: scale-down;
    border-radius: 20px;
    width: 40vw;
    margin: 1em;
    clip-path: circle(72.7% at 27% 43%);
}
.regLuDiv p:nth-child(1){
    font-size: 5vw;
    justify-content: right;
    text-align: start;
}
.regLuInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}