.MainDiv {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
}

.Container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
}